FIREBIRD_HOST=localhost
FIREBIRD_DATABASE = 'path/to/your/database.mdf'
FIREBIRD_PYTHON = 'path/to/your/database.mdf'
FIREBIRD_USER=your_username
FIREBIRD_PASSWORD=your_password
DB_URI=mongodb://localhost:27017/your_database
CUANTIA_URL=http://localhost:4000/graphql
PUBLIC_URL=http://localhost:8092
PORT=8092
SOCKET_PORT=8097
JWT_SECRET=your_secret_key
